# Полностью блокируем абсолютно все файлы и папки в репозитории
*

# Разрешаем Git видеть файлы конфигурации и доки в корне
!.gitignore
!README.md
!UNITY_SETUP.md

# Открываем доступ строго к твоим папкам со скриптами
!Assets/
!Assets/_Project/
!Assets/_Project/Scripts/
!Assets/_Project/Scripts/**

# Разрешаем .meta файлы только для твоих скриптов, чтобы Unity не ломалась
!*.meta
